{% extends "base.html" %}
{% block title %}
    Изменение "{{ question.test }}"
{% endblock %}
{% block content %}
    <h1>Изменение теста "{{ question.test }}"</h1>
    <div class="module">
            {% for question in question.test.test_question.all %}
                <form action="" method="post" >
                    <ul>
                        <li><h2>Вопрос "{{ question.question }}"</h2>{{ formset }}</li>
            {% endfor %}
                        {{ formset.management_form }}
                        {% csrf_token %}
                        <input type="submit" class="button" value="Сохранить вопрос">
                    </ul>
                </form>

    </div>
{% endblock %}